/* ESTILOS PREDETERMINADOS */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html
{
    font-size: 62.5%;
}


/* ESTILOS PERSONALIZADOS DE LA PÃGINA*/

:root
{
    --logo-green: #4A603A;
    --logo-yellow: #F0B70E;
    --logo-brown-letter: #644239;
    --logo-2-white: #F1E9DC;
    --meat: #ffe9a8;
    --dark-purple: #100f23;
}

body
{
    position: relative;
    background-color: var(--logo-2-white);
    font-family: 'Poppins', sans-serif;
}


/* SCROLL UP BUTTON */

.scroll-up__button
{
    z-index: 100;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 5rem;
    color: #3f5131;
    text-decoration: none;
    background-color: #1f2719;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px #5e8542ad;

    /* animation */
    transform: translateY(200%);
    transition: 0.5s ease-in-out;
}


/* .scroll-up__button:hover
{
    color: #F0B70E;
    background-color: #937814;
    box-shadow: 0px 0px 30px 0px #fae09ab6;
} */

.scroll-up__button--wsp
{
    width: max-content;
    padding: 6px 11px;
    left: 20px;
    color: var(--logo-2-white);
    background-color: #3f5131; 
    transform: none;
}

.scroll-up__button--wsp:hover
{
    color: var(--logo-2-white);
    background-color: #e0ac0f;
    box-shadow: 0px 0px 30px 0px #fae09ab6;
}

/* HEADER RESPONSIVE */

.header
{
    position: fixed;
    z-index: 100;
    
    
    width: 100vw;
    height: 115px;
    padding: 15px 0;
    transition: box-shadow,background-color 0.3s;
}



.header__container
{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu
{
    text-align: center;
    width: 25%;
}

.header__menu-icon
{
    font-size: 2.5rem;
}

.header__icon
{
    color: white;
}

.header__icon:hover
{
    cursor: pointer;
}

            .header__nav
            {
                z-index: 99;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                /* max-width: 350px; */
                height: 100%;
                background-color: rgba(0, 0, 0, 0.96);
                /* backdrop-filter: blur(15px); */
                text-align: left;
                list-style-type: none;
                padding: 40px 10px;
                transition: left 0.6s;
                overflow-y: scroll;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .header__nav::hover
            {
                cursor: pointer;
            }

            .header__nav--clicked
            {
                left: 0%;
            }
            
            .header__exit-icon
            {
                width: 100%;
                font-size: 3rem;
                text-align: right;
                color: white;
            }

            .header__nav-container
            {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .header__nav-element
            {
                padding: 15px 8px;
                margin: 20px 0;
                border-bottom: 1px solid #ffffff;
                text-decoration: none;
                color: #ffffff;
            }

            .header__nav-span
            {
                font-size: 1.8rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .header__nav-element:last-child
            {
                line-height: 20px;
                border-bottom: none;
            }

            .header__nav-social
            {
                flex-grow: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 0;
                padding: 20px 20px;
            }

            .header__nav-link
            {
                display: block;
                text-decoration: none;
                text-align: center;
                font-size: 1.4rem;
                color: #ffffff;
                font-weight: 600;
            }

            .header__nav-link > span
            {
                text-decoration: underline;
            }


.header__logo
{
    text-align: center;
    width: 50%;
}

.header__logo-img
{
    width: 80px;
}

.header__social
{
    font-size: 2.5rem;
    text-align: center;
    width: 25%;
}

.header__icon-link
{
    color: black;
}

.header__icon-link:hover
{
    cursor: pointer;
}

/* FIN DE HEADER */

/* BODY */

.body-container
{
    width: 100%;
    /* height: 100vh; */
    background-color: var(--meat);
    background-image: linear-gradient(to top, #2b1d3f, #2f1f45, #32214b, #362352, #3a2558, #3e285e, #432b65, #472e6b, #4d3373, #53387b, #5a3d84, #60428c);
}

/* .body-container .div__container
{
    
} */

    
/* TITLE-SECTION */
    
.title__section
{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-2-white);
    flex-flow: column nowrap;

    background-image: url("../../media/contacto-title-background.jpeg");
    background-size: cover;
    background-color: #100f23a8;
    background-blend-mode: soft-light;
    height: 90vh;
    text-align: center;

    background-position: 50% 50%;
}

.title__section .title
{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    word-wrap: break-word;
}


.title__section .title__subtitle
{
    
    font-size: 2rem;
    font-weight: 400;
    width: 90%;
    margin-top: 20px;
}

/* FORM SECTION */

.form__section
{
    padding: 50px 20px;
    /* background-color: #F1E9DC; */
    flex-shrink: 1;
    color: #fff;
}

.form__title
{
    max-width: 600px;
    width: 95%;
    margin: 40px auto;
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 30px;
}

.form__advise
{
    font-size: 1.8rem;
    color: #f1c422;
    max-width: 600px;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 50px;
}

.form__container
{
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding: 10px;
    max-width: 700px;
    /* padding: 20px; */
    /* background-color: red; */
}

.form__container .form__item
{
    margin: 40px 0;
}

.form__item div
{
    position: relative;
}

.form__verification-state
{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-70%);
    font-size: 2rem;
    color: rgb(255, 119, 119);
    opacity: 0;
}

.form__item .form__label
{
    font-size: 1.6rem;
    position: relative;
    top: -4px;
    left: 5px;
}

.form__input
{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--logo-2-white);
    color: whitesmoke;
    margin-bottom: 8px;
    transition: 0.3s ease all;
}

.form__item div .form__input:focus
{
    border: none;
    outline: 1px solid #8300f7;
    box-shadow: 0px 0px 12px 0px #8300f7;
    /* outline: none; */
}

.form__input-error
{
    font-size: 1.4rem;
    color: rgb(255, 119, 119);
    display: none;
}

.form__item .form__input-error--actived
{
    display: block;
}

.form__item div .form__verification-state--actived
{
    opacity: 1;
}

.form__advertisement
{
    font-size: 1.8rem;
    color: rgb(255, 119, 119);
    display: none;
}

.form__advertisement i
{
    margin-right: 10px;
}

.form__advertisement--actived
{
    display: block;
}


.form__item div .form__input::placeholder
{
    color: #f1e9dcc4;
    font-family: 'Poppins', sans-serif;
}

.form__item-button
{
    text-align: center;
}

.form__item .form__button
{
    background-image: linear-gradient(to right, #313f1d, #364322, #3a4827, #3f4c2d, #445132, #485537, #4d593b, #515d40, #566145, #5b664b, #606a50, #656f56);
    width: 200px;
    padding: 15px 0px;
    border: none;
    font-size: 2rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    border-radius: 4px;
    /* letter-spacing: 2px; */
    cursor: pointer;
    color: var(--logo-2-white);
    transition: 0.5s ease all;
}

.form__button:hover
{

    box-shadow: 0px 0px 30px -2px #566145b0;
}


.form__item-button .form__sent
{
    margin-top: 20px;
    font-size: 1.4rem;
    color: #98b46f;
    display: none;
}

.form__item-button .form__sent--actived
{
    display: block;
}

.form__item--correct .form__verification-state
{
    color: #98b46f;
    opacity: 1;
}

.form__item--incorrect .form__label
{
    color: rgb(255, 119, 119);
}

.form__item--incorrect .form__verification-state
{
    color: rgb(255, 119, 119);
    opacity: 1;
}


.form__item--incorrect .form__input
{
    border-bottom:1px solid rgb(255, 119, 119);
    opacity: 1;
}

#message
{
    resize: none;
}

.div__container
{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.info__section
{
    max-width: 600px;
    width: 100%;
    color: var(--logo-2-white);
    margin: auto;
    /* background-color: red; */
    padding: 30px 0;
}

.info__main-container
{
    position: relative;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    
}


.info__container
{
    background-color: #211631;
    width: 100%;
    padding: 20px;
}
.info__container--img
{
    background-image: url("../../media/contactoimg.jpeg");
    background-size: cover;
    height: 250px;
    text-align: center;
    line-height: 180px;
    font-size: 3rem;
    font-weight: 900;
    background-color: #100f238a;
    background-blend-mode: soft-light;
}

.info__container--text
{
    position: relative;
    top: -60px;
    border-radius: 20px;
}

.info__item
{
    text-align: center;
    padding: 20px 0;
}

.info__title
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--logo-2-white);
    font-weight: 800;
    user-select: none;
}

.info__item a:hover
{
    color: #cdcbeb;
}

.info__icon
{
    margin-right: 7px;
}

.info__subtitle
{
    margin-top: 10px;
    font-size: 1.6rem;
    color: #afa1c2;
    word-wrap: break-word;
    user-select: red;
}


.form__input-error--advise
{
    color: #f1c422;
}

.footer
{
    background-color: var(--dark-purple);
    color: var(--logo-2-white);
    padding: 15px 30px;
}

.footer-text
{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* MEDIA QUERIES */

@media (min-width: 1100px)
{
    .header
    {
        height: 123px;
        padding: 20px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
   

    .header__logo-img
    {
        width: 80px;
    }

    .header__container
    {
        max-width: 2500px;
        flex-direction: row-reverse;
    }

    .header__menu-icon,
    .header__exit-icon,
    .header__social,
    .header__nav-social
    {
       display: none;
    }
    
    .header__nav
    {
        position: static;
        background: none;
        max-width: 800px;
        overflow-y: hidden;
        padding: 0;
    }

    .header__nav-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .header__nav-element
    {
        width: 100px;
        text-align: center;
        display: block;
        padding: 0;
        border: none;
        color: #ffffff;
    }
    
    .header__nav-element:hover > .header__nav-span
    {
        font-weight: 800;
        border-bottom: 2px solid #f1c422;
    }
    
    .header__nav-span
    {
        font-size: 1.5rem;
    }
    
    .header__logo
    {
        width: 30%;
    }

    .header__menu
    {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-up__button
    {
        bottom: 30px;
        right: 30px;
        font-size: 8rem;
    }
    
    .scroll-up__button--wsp
    {
        font-size: 5rem;
        padding: 16px 20px;
    }
    
    .info__main-container
    {
        overflow: hidden;
        display: flex;
        flex: row nowrap;
    }
    
    .info__container--text
    {
        top: 0;
        border-radius: 0%;
        flex-grow: 2;
    }
    
    .info__container--img
    {
        height: auto;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 1.2;
    }
    
    .info__item
    {
        padding: 30px 0;
    }

    .info__title
    {
        justify-content: start;
        padding-left: 10px;
    }

    .info__subtitle
    {
        text-align: left;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 6px solid #afa1c2;;
    }

    .info__section
    {
        max-width: 700px;
    }
}


@media (min-width: 580px) 
{
    .title__section .title
    {
        font-size: 5rem;
    }  

    .form__title
    {
        font-size: 3.7rem;
        line-height: 40px;
    }
}


/* WHILE SCROLLING */

.header--shadow
{
    box-shadow: 0px -3px 22px 0px rgba(0,0,0,0.75);
    background-color: #f1e9dcf6;
}

.header--text-color
{
    color: #000;
}

.scroll-up__button--shown
{
    transform: translateY(0%);
}
