/* ESTILOS PREDETERMINADOS */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html
{
    font-size: 62.5%;
}


/* ESTILOS PERSONALIZADOS DE LA PÃGINA*/

:root
{
    --logo-green: #4A603A;
    --logo-yellow: #F0B70E;
    --logo-brown-letter: #644239;
    --logo-2-white: #F1E9DC;
    --meat: #ffe9a8;
    --dark-purple: #100f23;
}

body
{
    position: relative;
    background-color: var(--logo-2-white);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    /* height: 200vh; */
}
/* SCROLL UP BUTTON */

.scroll-up__button
{
    z-index: 100;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 5rem;
    color: #3f5131;
    text-decoration: none;
    background-color: #1f2719;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px #5e8542ad;

    /* animation */
    
    transform: translateY(200%);
    transition: 0.3s ease-in-out;
}

/* .scroll-up__button:hover
{
    color: #F0B70E;
    background-color: #937814;
    box-shadow: 0px 0px 30px 0px #fae09ab6;
} */

.scroll-up__button--wsp
{
    width: max-content;
    padding: 6px 11px;
    left: 20px;
    color: var(--logo-2-white);
    background-color: #3f5131; 
    transform: none;
}

.scroll-up__button--wsp:hover
{
    color: var(--logo-2-white);
    background-color: #e0ac0f;
    box-shadow: 0px 0px 30px 0px #fae09ab6;
}
/* HEADER RESPONSIVE */

.header
{
    position: fixed;
    z-index: 100;
    
    
    width: 100vw;
    height: 115px;
    padding: 15px 0;
    transition: box-shadow,background-color 0.3s;
}



.header__container
{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu
{
    text-align: center;
    width: 25%;
}

.header__menu-icon
{
    font-size: 2.5rem;
}

.header__icon
{
    color: white;
}

.header__icon:hover
{
    cursor: pointer;
}

            .header__nav
            {
                z-index: 99;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                /* max-width: 350px; */
                height: 100%;
                background-color: rgba(0, 0, 0, 0.96);
                /* backdrop-filter: blur(15px); */
                text-align: left;
                list-style-type: none;
                padding: 40px 10px;
                transition: left 0.6s;
                overflow-y: scroll;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .header__nav::hover
            {
                cursor: pointer;
            }

            .header__nav--clicked
            {
                left: 0%;
            }
            
            .header__exit-icon
            {
                width: 100%;
                font-size: 3rem;
                text-align: right;
                color: white;
            }

            .header__nav-container
            {
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .header__nav-element
            {
                padding: 15px 8px;
                margin: 20px 0;
                border-bottom: 1px solid #ffffff;
                text-decoration: none;
                color: #ffffff;
            }

            .header__nav-span
            {
                font-size: 1.8rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .header__nav-element:last-child
            {
                line-height: 20px;
                border-bottom: none;
            }

            .header__nav-social
            {
                flex-grow: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 0;
                padding: 20px 20px;
            }

            .header__nav-link
            {
                display: block;
                text-decoration: none;
                text-align: center;
                font-size: 1.4rem;
                color: #ffffff;
                font-weight: 600;
            }

            .header__nav-link > span
            {
                text-decoration: underline;
            }


.header__logo
{
    text-align: center;
    width: 50%;
}

.header__logo-img
{
    width: 80px;
}

.header__social
{
    font-size: 2.5rem;
    text-align: center;
    width: 25%;
}

.header__icon-link
{
    color: black;
}

.header__icon-link:hover
{
    cursor: pointer;
}

/* FIN DE HEADER */

/* OVERLAY */
.zoom-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.799);
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.zoom-overlay--hidden
{
    display: none;
}

.zoom__image
{
    /* margin: auto; */
    width: 90%;
    max-width: 600px;
}

.zoom__icon
{
    color: var(--logo-2-white);
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 6rem;
    cursor: pointer;
}

.zoom__icon:hover
{
    text-shadow: 0px 0px 10px rgb(225, 225, 225);
}

/* TITULO */

.gallery-title__container
{
    background-color: red;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 2rem;
    padding: 20px 20px;
    line-height: 40px;
    text-align: center;
    background-color: #ccc;
    /* margin-bottom: ; */
}

/* GALERIA */
.gallery__container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__main-container
{
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #ccc;
}

.gallery__slider
{
    position: absolute;
    /* inset: 80px 200px 80px 80px; */
    inset: 100px 450px 140px 100px;
    /* background-color: #ccc; */
    border-radius: 20px;
}

.gallery__slider .gallery__item
{
    /* --img: url("../../gallery-media/img1.jpeg"); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-color: #0000004a;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 25px 20px #00000075;
    /* background-position: top center; */
    cursor: pointer;
}

.gallery__slider .gallery__item:nth-child(1),
.gallery__slider .gallery__item:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px #00000041;
    background-size: cover;
    background-color: #00000000;
}

.gallery__slider .gallery__item:nth-child(3)
{
    left: calc(50% + 250px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(4)
{
    left: calc(50% + 500px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(5)
{
    left: calc(50% + 750px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(6)
{
    left: calc(50% + 1000px);
    background-size: cover;
    /* opacity: 0; */
}


.gallery__slider .gallery__item:nth-child(7)
{
    left: calc(50% + 1250px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(8)
{
    left: calc(50% + 1500px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(9)
{
    left: calc(50% + 1750px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(10)
{
    left: calc(50% + 2000px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(11)
{
    left: calc(50% + 2250px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(12)
{
    left: calc(50% + 2500px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(13)
{
    left: calc(50% + 2750px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(14)
{
    left: calc(50% + 3000px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(15)
{
    left: calc(50% + 3250px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(16)
{
    left: calc(50% + 3500px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(17)
{
    left: calc(50% + 3750px);
    background-size: cover;
}



.gallery__slider .gallery__item:nth-child(18)
{
    left: calc(50% + 4000px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(19)
{
    left: calc(50% + 4250px);
    background-size: cover;
}


.gallery__slider .gallery__item:nth-child(20)
{
    left: calc(50% + 4500px);
    background-size: cover;
    /* opacity: 0; */
}

.gallery__slider .gallery__item:nth-child(21)
{
    left: calc(50% + 4750px);
    background-size: cover;
    opacity: 0;
}

.gallery__buttons
{
    position: absolute;
    /* top: 0; */
    bottom: 60px;
    /* left: 35%; */
    display: flex;
    gap: 20px;
}

.gallery__buttons span
{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
}

.gallery__buttons span::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}

.gallery__buttons span:nth-child(2)::before
{
    transform: rotate(135deg) translate(2px, 2px);
}

.gallery__buttons span:active
{
    opacity: 0.5;
}

.bio__img-container img
{
    width: 260px;
}

.bio__section
{
    /* max-width: 1380px; */
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.bio__title
{
    
    min-width: 300px;
    /* flex-grow: 2; */
}

.bio__content
{
    background-color: red;
    /* flex-grow: 1; */
    padding: 50px 0px;
    background-image: url("../../gallery-media/img13.jpeg");
    background-size: cover;
    background-position: center;
    background-color: #000000b9;
    background-blend-mode: soft-light;
    color: var(--logo-2-white);
}

.bio__img-container
{
    /* width: m; */
    text-align: center;
}

.us__story
{
    max-width: 900px;
    width: 85%;
    margin: auto;
    font-size: 1.4rem;
    text-align: justify;
}

.bio__h2
{
    font-size: 4rem;
    margin: 10px 0 50px 0;
    text-shadow: 0px 0px 20px var(--logo-brown-letter);
}

.bio__h2 span
{
    color: var(--logo-brown-letter);
}

.footer
{
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    background-color: var(--dark-purple);
    color: var(--logo-2-white);
    padding: 15px 30px;
}

.footer-text
{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* MEDIA QUERIES */

@media (min-width: 1100px)
{
    .header
    {
        height: 123px;
        padding: 20px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
   

    .header__logo-img
    {
        width: 80px;
    }

    .header__container
    {
        max-width: 2500px;
        flex-direction: row-reverse;
    }

    .header__menu-icon,
    .header__exit-icon,
    .header__social,
    .header__nav-social
    {
       display: none;
    }
    
    .header__nav
    {
        position: static;
        background: none;
        max-width: 800px;
        overflow-y: hidden;
        padding: 0;
    }

    .header__nav-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .header__nav-element
    {
        width: 100px;
        text-align: center;
        display: block;
        padding: 0;
        border: none;
        color: #ffffff;
    }
    
    .header__nav-element:hover > .header__nav-span
    {
        font-weight: 800;
        border-bottom: 2px solid #f1c422;
    }
    
    .header__nav-span
    {
        font-size: 1.5rem;
    }
    
    .header__logo
    {
        width: 30%;
    }

    .header__menu
    {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-up__button
    {
        bottom: 30px;
        right: 30px;
        font-size: 8rem;
    }
    
    .scroll-up__button--wsp
    {
        font-size: 5rem;
        padding: 16px 20px;
    }
}

@media (max-width: 900px) 
{
    .gallery__slider
    {
        inset: 40px 40px 200px 40px;
    }

    .gallery__slider .gallery__item
    {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px #0000002b;
    }

    .gallery__main-container
    {
        position: relative;
        width: 100%;
        height: 118vh;
    }


    .gallery__slider .gallery__item:nth-child(1),
    .gallery__slider .gallery__item:nth-child(2)
    {
        top: initial;
        bottom: 0px;
    }

    .gallery__slider .gallery__item:nth-child(3)
    {
        left: 0px;
    }

    .gallery__slider .gallery__item:nth-child(4)
    {
        left: 120px;
    }
    
    .gallery__slider .gallery__item:nth-child(5)
    {
        left: 240px;
    }
    
    
    .gallery__slider .gallery__item:nth-child(6)
    {
        left: 360px;
    }

    .gallery__slider .gallery__item:nth-child(7)
    {
        left: 480px;
    }

    .gallery__slider .gallery__item:nth-child(8)
    {
        left: 600px;
    }

    .gallery__slider .gallery__item:nth-child(9)
    {
        left: 720px;
    }

    .gallery__slider .gallery__item:nth-child(10)
    {
        left: 840px;
    }

    .gallery__buttons
    {
        position: absolute;
        /* top: 0; */
        bottom: 15px;
        /* left: 35%; */
        display: flex;
        gap: 20px;
    }

    .bio__content
    {
        background-image: url("../../gallery-media/img18.jpeg");    
    }

    .zoom__image
    {
        padding-top: 20px;
        max-width: 550px;
    }

    .zoom__icon
    {
        background-color: #000;
        padding: 20px;
        border-radius: 50%;
        font-size: 3.2rem;
        top: 20px;
        left: 20px;
        box-shadow: 0px 0px 10px rgba(225, 225, 225, 0.527);
    }
}

@media (min-width: 520px) 
{
    .us__story
    {
        width: 85%;
        margin: auto;
        font-size: 1.8rem;
        text-align: justify;
    }
}

@media (max-width: 410px)
{
    .zoom__image
    {
        padding-top: 20px;
        max-width: 550px;
    }

    .zoom__icon
    {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        border-radius: 0%;
        font-size: 3.2rem;
        top: 20px;
        left: 20px;
        text-shadow: 0px 0px 10px rgba(225, 225, 225, 0.527);
    }
}

/* WHILE SCROLLING */

.header--shadow
{
    box-shadow: 0px -3px 22px 0px rgba(0,0,0,0.75);
    background-color: #f1e9dcf6;
}

.header--text-color
{
    color: #000;
}

.scroll-up__button--shown
{
    transform: translateY(0%);
}

